
.image-card{
    width: 100%;
    height: 60%;
    background-size:cover;
}

.section-content-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

#section-1 , #section-3 {
    width: 100%;
    height: 70vh;
    background-color: #2F3135;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
}

#section-2 {
    width: 100%;
    height: 70vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
}

#section-2>h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 4em;
    color: #fff;
}


#section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 100%;
}
