@import url('header.css');
@import url('main.css');
@import url('section.css');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/images/image4.jpg');
    object-fit: cover;
    background-position: center;
    background-color: #2F3135;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-attachment: fixed; /* Fixe l'image de fond lors du défilement */
}




